<nav class="navbar navbar-secondary bg-secondary">
    <a class="navbar-brand text-white" href="#">Fasicell</a>
</nav>

<div class="container p-2">

  <div class="row ">

       <div class="col-md-8 content">
            <table class="table table-secondary table-bordered table-striped">
                <caption>List of Products </caption>
                <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </thead>
                <tbody >

                    <tr *ngFor="let product of products; index as i;">

                        <td>{{i+1}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.quantity}}</td>
                        <td><button class="btn btn-danger"
                                   (click)="deleteProduct(product.id)">
                              delete
                           </button>
                        </td>
                    </tr>
                </tbody>
            </table>
       </div>

       
       <div class="col-md-4" > 
         <form class="card border-secondary p-2" [formGroup]="productForm">
            <input  formControlName="name" class="p-2 mb-2" placeholder="Name"/>
            <input  formControlName="price" class="p-2 mb-2" placeholder="Price"/>
            <input  formControlName="quantity" class="p-2 mb-2" placeholder="Quantity"/>
            <button (click)="addProduct()" class="btn btn-secondary">
                 Aceptar
            </button>
        </form>
       </div>

  </div>

</div>