
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content{
    margin: 0.2rem auto;
    height: 400px;
    width:100%;
    overflow:auto;
    padding:0 0.1rem;
}


